.container {
  margin: 20px;
  text-align: center;
}

.thisLotto {
  margin: 10px;
}

.newNumbers {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: red;
  color: #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid red;
}

.newNumbers:hover {
  background: darkred;
}

.number {
  color: #000000;
  line-height: 50px;
}

.newNumbersLotto {
  display: inline-block;
  background: red;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid red;
  border-radius: 50%;
}

.newNumbersLotto:hover {
  background: darkred;
}